<div class="cow_pic">
	<%= link_to(image_tag("/SimpleCow.png"), animals_path) %>
  <div class="hover_label">To Browse By Animal or Meat Cut</div>
</div>

<div class="grill_pic">
	<%= link_to(image_tag("/grill.png"), techniques_path) %>
  <div class="hover_label">To Browse By Cooking Technique</div>
</div>
<div class="footer">
</div>