<div class="cow_pic">
	<%= link_to(image_tag("/SimpleCow.png"), animals_path) %>
  <div class="hover_label"><p>To Browse By Animal</p><p> or Meat Cut</p></div>
</div>

<div class="grill_pic">
	<%= link_to(image_tag("/grill.png"), techniques_path) %>
  <div class="hover_label"><p>To Browse By Cooking</p> <p>Technique</p></div>
</div>

<div class="footer">
</div>