<div class="cow_pic">
	<a href="/animals"><img src="SimpleCow.png" alt="To Search By Meat Cut"></a>
</div>

<div class="grill_pic">
	<a href="/techniques"><img src="grill.png" alt="To Search By Cooking Technique"></a>
</div>
<div class="foot">
</div>