<h1>Animals We Eat</h1>

<div id="animal_cow" class="animal_icons">
  <img src="cow.png"><%#= link_to 'Cow, otherwise known as Beef', animal_path(id: 1) %>
</div>

<div id="animal_sheep" class="animal_icons">
  <img src="lamb.png"><%#= link_to 'Sheep, otherwise known as Mutton or Lamb', animal_path(id: 2) %>
</div>

<div id="animal_pig" class="animal_icons">
  <img src="pig.png"> <%#= link_to 'Pig, otherwise known as Pork', animal_path(id: 3) %>
</div>

<div id="animal_goat" class="animal_icons">
  <img src="goat.png"> <%#= link_to 'Goat is just goat.', animal_path(id: 5) %>
</div>

<div id="animal_bison" class="animal_icons">
  <img src="bison.png"> <%#= link_to 'Bison is not buffalo.', animal_path(id: 4) %>
</div>

<div class="footer">
</div>
