.cow_pic {
	img {
		margin-top: 20px;
		width:350px;
		float:left;
		padding: 40px 80px 40px 80px;
		border:8px solid white;
		border-right: 3px dashed gray;
	}

	&:hover img {
		border: 8px red solid;
	}

	.hover_label {
		visibility: hidden;
		position: fixed;
		width:350px;
		bottom:150px;
		margin-left: 100px;
	}

	.hover_label p {
		color: #80060C;
		text-shadow: 1px 1px white;
		text-align: center;
		font-size: 30px;
		font-weight: bolder;
	}

	&:hover .hover_label {
		visibility: visible;
	}
}

.grill_pic {
	img {
		margin-top: 20px;
		width:320px;
		float:right;
		border:8px solid white;
		padding-right: 80px;
	}

	&:hover img {
		border: 8px red solid;
	}

	.hover_label {
		visibility: hidden;
		position: fixed;
		width:370px;
		margin-left: 650px;
		padding-top: 15px;
		bottom:150px;
	}

	.hover_label p {
		color: #80060C;
		text-align: center;
		text-shadow: 1px 1px white;
		font-size: 30px;
		font-weight: bolder;
	}

	&:hover .hover_label {
		visibility: visible;
	}
}